html(lang='pt-br')
	head
		meta(charset='utf-8')
		title Slope Calculus | Aprenda upando
		// css
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(rel='stylesheet', type='text/css', href='css/index_style.css')
		// fonte
		link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i', rel='stylesheet')
		// Icone da pagina
		link(rel='shortcut icon', type='image/png', href='img/slope_logo.png')
	body
		// Fixed navbar
		nav#header.navbar.navbar-fixed-top
			#header-container.container.navbar-container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand
						img#logo.img-responsive(src='img/logo1.png')
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a.dropdown-toggle(href='/login', data-toggle='dropdown')
								i.fa.fa-sign-in(aria-hidden='true')
								|  Entrar 
								i.fa.fa-sort-desc(aria-hidden='true')
							ul#login-dp.dropdown-menu
								li
									.row
										.col-md-12
											| Login 
											form#login-nav.form(role='form', method='post', action='login', accept-charset='UTF-8')
												.form-group
													label.sr-only(for='exampleInputEmail2') Email address
													input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='')
												.form-group
													label.sr-only(for='exampleInputPassword2') Password
													input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='')
													.help-block.text-right
														a(href='')
															| Esqueceu a 
															i senha
															|  ?
												.form-group
													button.btn.btn-primary.btn-block(type='submit') Sign in
												.checkbox
													label
														input(type='checkbox')
														|  keep me logged-in
										.bottom.text-center
											| Não tenho conta ! 
											a(href='/register')
												b Criar
				// /.nav-collapse
			// /.container
		// /.navbar
		#full-video
			// Video Section
			section.content-section.video-section
				video#video_background(preload='auto', autoplay='', loop='', poster='//Poster.jpg')
					source(src='img/math.mp4', type='video/mp4')
					source(src='img/math.ogg', type='video/ogg')
					source(src='img/math.webm', type='video/webm')
				.pattern-overlay
					.container
						.row
							#frase.col-md-12
								h1 Supere todos os seus limites
								h1 Derive seus maiores problemas
								h1 Demonstre a integral do seu potencial
					button#btn_comecar.btn.btn-default.btn-lg(type='button', data-toggle='dropdown', href='cadastro.html') Começar
			// Video Section Ends Here
			section
				#descricao.container-fluid
					.row
						.col-md-4.col-xs-4.image
							img.img-responsive(src='img/logo2.png')
						#txtDesc.col-md-8
							h1 Slope Calculus...
							p
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus laoreet orci at risus
								br
								|                      pulvinar, ullamcorper venenatis augue semper. Sed tempus....!
			.container
				br
				h2.section-heading.text-center
					| Conteúdo 
					i.fa.fa-1x.fa-book(aria-hidden='true')
				hr.primary
				br
				.row.grid-divider
					.col-sm-4
						.col-padding.text-center
							h3 Column 1
							center
								img.img-responsive.livro1(src='img/livro_icon.png')
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate placeat suscipit maxime tenetur officiis asperiores quae molestias fugiat praesentium dolorum.
					.col-sm-4
						.col-padding.text-center
							h3 Column 2
							center
								img.img-responsive.livro1(src='img/livro_icon.png')
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate placeat suscipit maxime tenetur officiis asperiores quae molestias fugiat praesentium dolorum.
					.col-sm-4
						.col-padding.text-center
							h3 Column 3
							center
								img.img-responsive.livro1(src='img/livro_icon.png')
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate placeat suscipit maxime tenetur officiis asperiores quae molestias fugiat praesentium dolorum.
			section#services
				br
				br
				.container
					.row
						.col-lg-12.text-center
							h2.section-heading
								| Gamificação 
								i.fa.fa-1x.fa-gamepad(aria-hidden='true')
							hr.primary
				.container
					.row
						.col-lg-3.col-md-6.text-center
							.service-box
								i.fa.fa-5x.fa-heart.text-primary.sr-icons(aria-hidden='true')
								h3 Sturdy Templates
								p.text-muted Our templates are updated regularly so they don't break.
						.col-lg-3.col-md-6.text-center
							.service-box
								i.fa.fa-5x.fa-level-up.text-primary.sr-icons(aria-hidden='true')
								h3 Ready to Ship
								p.text-muted You can use this theme as is, or you can make changes!
						.col-lg-3.col-md-6.text-center
							.service-box
								i.fa.fa-5x.fa-trophy.text-primary.sr-icons(aria-hidden='true')
								h3 Up to Date
								p.text-muted We update dependencies to keep things fresh.
						.col-lg-3.col-md-6.text-center
							.service-box
								i.fa.fa-5x.fa-bolt.text-primary.sr-icons(aria-hidden='true')
								h3 Made with Love
								p.text-muted You have to make your websites with love these days!
					br
			.footer-bottom
				.container
					p.pull-left  Copyright © Footer E-commerce Plugin 2014. All right reserved. 
			// /.footer-bottom
		// jQuery
		script(src='vendor/jquery/jquery.min.js')
		// Bootstrap Core JavaScript
		script(src='vendor/bootstrap/js/bootstrap.min.js')
		// Plugin JavaScript
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
		script(src='vendor/scrollreveal/scrollreveal.min.js')
		script(src='vendor/magnific-popup/jquery.magnific-popup.min.js')
		// Theme JavaScript
		script(src='js/creative.min.js')
		script(type='text/javascript').
			$(document).ready(function () {
			$(".player").mb_YTPlayer();
			});
