doctype html
html
  body
    h1 #{msg}
    form(action='/login', method='post')
      |   Username:
      br
      input(type='text', name='username', value='Mouse')
      br
      |   Password:
      br
      input(type='password', name='password', value='Mouse')
      br
      br
      input(type='submit', value='Submit')